.dashnav-bar
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    position: absolute;

    height: 35px;
    width: 100vw;

}


.dashnav-profile
{
    display: flex;
    flex-direction: row;



    height: 30px;
    width: 130px;
}

.dashnav-profile-username
{
    color: white;
    font-weight: bold;
    position: absolute;
    
}

/* .dashnav-profile-pfp
{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 40px;
    border-radius: 100%;
    border: 2px solid white;
} */

/* holds the burger icon */
.dashnav-hamburger-menu-container
{
    position: absolute;
    border-radius: 5px;
    left: 3px;
    height: 30px;
    width: 30px;


    cursor: pointer;
}

.bar1, .bar2, .bar3
{
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: white;
  margin: 4px 0px ;
  transition: 0.2s;
}

/* On toggle, make burger-menu animate into X icon */
.dashnav-hamburger-menu-container.open .bar1
{
    transform: rotate(45deg) translate(8px,6.5px)

}

.dashnav-hamburger-menu-container.open .bar2
{
    opacity: 0;
}

.dashnav-hamburger-menu-container.open .bar3
{
    transform: rotate(-45deg) translate(4px, -4px);
}
.dashnav-menu
{
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 100vh;
    background-color: white;

    gap: 10px;    
    border-end-end-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

/* Holds the navigation menu options */
.dashnav-menu-innerContainer
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dashnav-menu-innerContainer>div
{
}

.dashnav-menu-innerContainer>div:hover
{
    cursor: pointer;
    transition: 0.1s;
}

.dashnav-menu-option
{
    display: flex;
    justify-content: center; /* Center the content inside the option */
    align-items: center;     /* Vertically center the content */
    width: 100%; /* Remove the width: 100% */}

.dashnav-menu-option:hover
{
    background-color: lightgray;
}

button
{
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}