.dashnav-bar
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    position: absolute;

    height: 35px;
    width: 100vw;
}


.dashnav-profileContainer
{
    display: flex;
    flex-direction: row;

    background-color: white;
    height: 30px;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);

}

/* Username styling */
.dashnav-profile-username
{
    color: black;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    right: 20px;
    
}

/* Menu Container component */
.dashnav-menu
{
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 100vh;
    background-color: white;

    gap: 10px;    
    border-end-end-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

/* Holds the navigation menu options */
.dashnav-menu-innerContainer
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Contains individual Menu Options (Dash, List, Timer) */
.dashnav-menu-option
{
    display: flex;
    justify-content: center; /* Center the content inside the option */
    align-items: center;     /* Vertically center the content */
}

.dashnav-menu-option svg
{
    fill: gray;
}

.dashnav-menu-option svg:hover
{
    fill: #ff9345;
}


/* Places Logout icon at bottom */
#dashnav-menu-option-logout
{
    margin-top: 300px;
}

/* De-render all the default components of the button */
button
{
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

