.dashnav-bar
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;

    position: absolute;

    height: 35px;
    width: 100vw;

}


.dashnav-profile
{
    display: flex;
    flex-direction: row;

    border: 1px blue solid;


    background-color: white;
    height: 30px;
    width: 130px;
}

.dashnav-profile-username
{
    position: absolute;
    
}

.dashnav-profile-pfp
{
    position: absolute;
    right: 5px;
    border-radius: 100%;
}

.dashnav-hamburger-menu-container
{
    position: absolute;

    left: 10px;
    height: 30px;
    width: 35px;

    cursor: pointer;
}

.bar1, .bar2, .bar3
{
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: black;
  margin: 4px 0px ;
  transition: 0.4s;
}

.dashnav-menu
{
    position: absolute;
    width: 200px;
    background-color: white;
    font-size: larger;

    display: flex;
    flex-direction: column;
    gap: 10px;    

}

.dashnav-menu>div:hover
{
    background-color: gray;
    cursor: pointer;
    transition: 0.1s;
}