.landingNav-component
{
    position: absolute;
    height: 50px;
    width: 100vw;
    top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    font-size: 2em;
    font-weight: bolder;

}

.landingNav-link
{
    color: #1C274C;
    text-decoration: none;
    transition: color .2s;
}

.landingNav-link:hover
{
    color: white;
}
