.landingNav-component
{
    position: absolute;
    height: 35px;
    width: 100vw;
    top: 30px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 40px;
    font-size: 1.5em;
    font-weight: bold;

}

.landingNav-link
{
    color: #1C274C;
    text-decoration: none;
    transition: color .2s;
    padding-bottom: 5px;
}

.landingNav-link:hover
{
    color: white;
}
