

.login-component .login-inner-container {
    height: 340px;
    width: 300px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    box-shadow: 0 4px 8px black;
}


.login-component
{
    height: 340px;
    width: 300px;
    background-color: rgba(211, 211, 211, 0.3);
    backdrop-filter: blur(2px); /* Apply a blur effect */

    border-radius: 10px;

}

.login-input
{
    height: 30px;
    width: 215px;
    border-radius: 15px;
    border: 1px, solid, gray;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 0px 0px 35px;  

}

.login-input::placeholder
{
    color: #1C274C;
    margin-left: 10px;
    font-weight: 500;
}

.login-submit-btn
{
    width:250px;
    height: 30px;
    border-radius: 5px;
    background-color: #1C274C;
    border: #1C274C, solid, 1px;
    padding: none;
    color: white;
}

.login-title 
{
    font-family: 'Montserrat', sans-serif;
    color: #1C274C;
}

.password-icon
{
    position: absolute;
    left: 32px;
    margin-top: 5px;
}

.user-icon
{
    position: absolute;
    left: 32px;
    margin-top: 5px;
}

.login-component a
{
    color: white;
}
