

.login-component .login-inner-container {
    height: 340px;
    width: 300px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    box-shadow: 0 4px 8px black;
}


.login-component
{
    height: 340px;
    width: 300px;
    background-color: rgba(211, 211, 211, 0.3);
    backdrop-filter: blur(2px); /* Apply a blur effect */

    border-radius: 10px;

}

.login-input
{
    height: 30px;
    width: 215px;
    border-radius: 15px;
    border: 1px, solid, gray;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 0px 0px 35px;  

}

.login-input::placeholder
{
    color: #1C274C;
    margin-left: 10px;
    font-weight: 500;
}

.login-submit-btn
{
    width:250px;
    height: 30px;
    border-radius: 5px;
    background-color: #1C274C;
    border: #1C274C, solid, 1px;
    padding: none;
    color: white;
}

.login-title 
{
    font-family: 'Montserrat', sans-serif;
    color: #1C274C;
}

.password-icon
{
    position: absolute;
    left: 32px;
    margin-top: 5px;
}

.user-icon
{
    position: absolute;
    left: 32px;
    margin-top: 5px;
}

.login-component a
{
    color: white;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(87, 186, 219, 0.1) inset !important;
} */

.login-username-label
{
    position: absolute;
    
    top: 96px;
    left: 59px;
    transition: 0.3s;
    color: #1C274C;
    pointer-events: none;
    font-size: 13px;
}

.login-password-label
{
    position: absolute;

    top: 148px;
    left: 59px;
    transition: 0.3s;
    color: #1C274C;
    pointer-events: none;
    font-size: 13px;
}

.login-input.blank_user:focus + label,
.login-input.username + label
{
    top: 76px;
    font-size: 11px;
    color: #1C274C;
}

.login-input.blank_pass:focus + label,
.login-input.password + label
{
    top: 128px;
    left: 59px;
    font-size: 11px;
    color: #1C274C;
}

.login-input.blank_user,
.login-input.blank_pass
{
    height: 30px;
    width: 215px;
    border-radius: 15px;
    border: 1px, solid, gray;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px 0px 0px 35px;  
}

