.register-component
{
    height: 340px;
    width: 300px;
    border-radius: 10px;
    border: 1px, solid, darkgray; 
    background-color: rgba(211, 211, 211, 0.3);
    backdrop-filter: blur(2px); 
    box-shadow: 0 4px 8px black;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.register-input-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.register-upload-pfp
{
    height: 100px;
    width: 215px;
    border: 1px dashed #1C274C;
    border-radius: 10px;
}

.register-component input
{
    box-sizing: border-box;
    height: 20px;
    width: 215px;

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    
}

.register-component input:focus
{
    border: 1px, solid, #1C274C;
    border-radius: 5px;
}

/* Individual icon - inputboxes */
.register-input-inner-container
{
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.register-component input::placeholder
{
    color: #1C274C;
}

.register-icon
{
    height: 20px;
    width: 20px;
}

.register-component h2
{
    color: #1C274C;
}

.register-component button
{
    height: 30px;
    width: 215px;
    border-radius: 5px;
    background-color: #1C274C;
    border: none;
    color: white;
}

.register-username-authenticate
{
    height: 13px;
    width: 100px;
    font-size: 0.7em;
    position: absolute;
    top: 93px;
    left: 56px;
    font-weight: bold;
    color: red;

    opacity: 0;
    transform: translateY(-10px);
    animation: drop-down 0.5s forwards;
}

@keyframes drop-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}