.taskManager-component
{
    display: flex;
    flex-direction: row;
    width: 940px;
    transition: 0.2s;
    justify-content: space-between;
    /* gap: 40px; */
}

/* If the window gets too narrow, responsive design */
@media (max-width: 768px)
{
    /* reorient components vertically */
    .taskManager-component
    {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        transition: 0.2s;;
    }


    .taskManager-buttons-container
    {
        margin-bottom: 30px;
    }
}

/* Display Module for all task data */
.taskManager-outer-container
{
    height: 350px;
    width: 380px;
    display: flex;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.taskManager-outer-container h2 
{
    margin: 0;
}

.taskManager-linebreak
{
    height: 2px;
    width: 300px;
    background-color: lightgray;
}

/* selects between Daily/Weekly/Monthly Tasks */
.taskManager-timeSelect
{
    height: 20px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20px; */
}

/* Circle Icon which user clicks */
.taskManager-timeSelect-circle
{
    height: 20px;
    width: 20px;
    

    border-radius: 100%;
    background-color: lightgray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.taskManager-timeSelect-circle:hover,
.taskManager-timeSelect-circle.select
{
    background-color: white;
    transition: .2s;
    transform: scale(1.4);
    cursor: pointer;
}

/* Contains the circle icons */
.taskManager-buttons-container
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Button which changes what is being displayed */
.taskManager-button
{
    height: 60px;
    width: 170px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: .2s;


    display: flex;
    justify-content: center;
    align-items: center;
}



.taskManager-button:hover
{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
    background-color: white;
}

/* selector + daily task display */
.taskManager-List
{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.taskmanager-generalDisplay-outerContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskManager-generalDisplay
{
    height: 280px;
    width: 520px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* set default color to add icon */
#add
{
    fill: white;
}

.taskManager-button:hover #add
{
    fill: gray;
    transition: .3s;

}

.calendar-base {
    transition: fill 0.3s; 
}

.taskManager-button:hover .calendar-base 
{
    fill: #F44336; 
}
