.taskManager-component
{
    display: flex;
    flex-direction: row;
    width: 940px;
    gap: 40px;
}

/* Exterior Module for all task data */
.taskManager-outer-container
{
    height: 350px;
    width: 380px;
    display: flex;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.taskManager-outer-container h2 
{
    margin: 0;
}

.taskManager-linebreak
{
    height: 2px;
    width: 300px;
    background-color: lightgray;
}

/* selects between Daily/Weekly/Monthly Tasks */
.taskManager-timeSelect
{
    height: 20px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.taskManager-timeSelect-circle
{
    height: 15px;
    width: 15px;
    

    border-radius: 100%;
    background-color: lightgray;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.taskManager-timeSelect-circle:hover,
.taskManager-timeSelect-circle.select
{
    background-color: white;
    transition: .2s;
    transform: scale(1.4);
    cursor: pointer;
}

.taskManager-buttons-container
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 350px;
}
.taskManager-button
{
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: .2s;

}

.taskManager-button:hover
{
    transform: scale(1.1);
    transition: .2s;
    cursor: pointer;
    background-color: white;
}

/* selector + daily task display */
.taskManager-List
{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.taskManager-generalDisplay
{
    height: 250px;
    width: 520px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}