.taskTracker-page
{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.taskTracker-outer-container
{


}

/* Displays the current month */
.taskTracker-month
{
    display: flex;
    margin-left: 215px;

}

/* top portion of the screen which contains the week modules */
.taskTracker-week-container
{
    height: 180px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* Individual modules displaying the day of the week */
.taskTracker-week-day-module
{
    height: 75px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 10px;

    

    background-color: rgb(82, 172, 202);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;    
}

/* interior of the module which orients the text */
.taskTracker-week-day-inner-container
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.taskTracker-week-day-inner-container h2
{
    margin: 0;
}

.taskTracker-week-day-module:hover,
.taskTracker-week-day-module.selected
{
    background-color: rgb(217, 236, 243);
    transform: scale(1.2);
    transition: 0.1s;
    cursor: pointer;
    color: black;
}

/* Second half of screen which contains the daily, weekly, and monthly tasks */
.taskTracker-task-display
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.rows
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* ------------------------------------ */

.taskTracker-list-outer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
